# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local worktrees
.worktrees/

# dependencies
/node_modules
node_modules
/.pnp
.pnp.js

# build and test output
/coverage
dist
.next
/.next/
/out/
.turbo
.turbo/
**.next
.turbo
**.turbo
*.log

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
